.app-container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1630px;

  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
